.contactContainer {
    display: flex; 
    align-items: center;
  }
  
  .projectContactContainer{
    position: relative;
  }
  
  .contactDiv{
    cursor: pointer;
    position: relative;
    padding: 1.4vw;
  }
  
    .contactP{
    margin: 4px;
    
    padding-left: 10px;
    pointer-events: none;
  }