.contactContainer {
    display: flex; 
    height: 100vh;
    margin: -50px 30px;
    align-items: center;
  }
  
  .projectContactContainer{
    position: relative;
    width: 100%;
  }
  
  .contactDiv{
    cursor: pointer;
    position: relative;
    padding: 1.4vw;
  }
  
    .contactP{
    margin: 4px;
    font-size: 2.5vw;
    padding-left: 10px;
    /* text-transform: uppercase; */
    pointer-events: none;
  }